<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Aidan Chang's Testcase Generator</h1>
        <button id="addButt">+</button>
        <button id="resetButton">Reset</button>
        <form action="{{ url_for('parameters') }}" method="POST">
            <div name="container" id="container"></div>
            <div class="center"><input type="submit"></div>
        </form>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </body>
</html>